body{
    background-color: rgb(114, 192, 234);
    color: rgb(249, 251, 252);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(96, 96, 223);
    padding: 30px 60px;
    border-left: white;
    border-right: white;
}
h1{
    background-color: black;
    border: #fff, solid, 3px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
    margin: 0px auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}
h3{
    border-left: double 20px rgb(246, 235, 235);
    border-radius: 30px;
    padding-left: 15px;
}
p{
    line-height: 2.2em;
}
img{
    float: left;
    width: 300px;
    border: #85f494 solid 3px;
    border-radius: 15px;
    margin-right: 20px;
}
}
a:link{
    color: rgb(68, 133, 206);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:rgb(227, 139, 71);
}
a:hover{
    color:bisque;
}
a:active{
    color: darkblue;
}
h3:hover{
    border-color: red;
}
#pic1{
    float: right;
    width: 350px;
    margin-right: 0;
    margin-left: 20px;
}
#pic2{
    float: right;
    margin-right: 0;
    margin-left: 20px;
    width: 250px;
}
#pic3{
    float: left;
    margin-right: 20;
    margin-left: 0px;
    width: 300px;
    height: 200px;
}
/* CLASS RULE */
.highlight{
    font-weight: bold;
    background-color: yellow;
    padding: 3px;
    color: black; 
    border-radius: 15px;
}
.highlight:hover{
    background-color: orange;
    font-size: 1.25rem;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
    cursor: default;
    transform: scale(1.1);
    color: #f9dd5f;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.3);
}
#sidebar{
    background-color: black;
    width: 225px;
    float: right;
    border: 2px solid white;
    margin: 15px;
    margin-top: 80px;
    line-height: 2.25em;
}
#sidebar h3{
    padding: 5px; 
    width: 200px;
    background-color:none;
    color:rgb(68, 133, 206);
    text-decoration: underline;
    font-size: 1.5em;
    margin: 5px;
    border: none;
}
.paragraphandstuff{
    text-align: justify;
    border: 2px dashed;
    background-color: rgb(73, 73, 150);
    margin-bottom: 20px;
    padding: 30px;
}
@media (max-width:1200px){
    #container{
        background-color: rgb(189, 200, 227);
    }
}
@media (max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin:0;
        padding: 0;
        border: none;
    }
    h1,h2,h3,p,body,div{
        background-color: rgb(189, 200, 227)!important;
    }
}
@media (max-widthL: 768px){
    #sidebar{
        display: none;
    }
    img,#pic1,#pic2{
        clear:both;
        border: none;
        width: 100%;
    }
    h3{
        margin:10px auto;
    }
}
